body
{
    background-color:darkseagreen;
}

#profile
{
border: 5px solid antiquewhite;
}

.box
{
    border: 5px solid antiquewhite;
    padding: 10px;
}

.box-green
{
    border: 8px solid darkgreen;
    padding: 10px;
    background-color:aquamarine;
}

.box-white
{
    border: 8px solid antiquewhite;
    padding: 10px;
    background-color:wheat
}
p
{
    font-size: 16pt;
    font-weight: 500;
    padding: 10px;
}
#ok
{   
    width:3.5%;
    position: fixed;
    top:89%;
    left: 95%
}